.sliderBlock {
  padding-bottom: 64px;

  user-select: none;
  gap: 120px;
  font-family: 'Cormorant Upright';
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
  background: #040404;
  flex-direction: row;
}

.title {
  width: 100%;
  color: white;

  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
  }

  h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
  }

  p {
    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
  }
}

.object {
  margin-right: 50px;
  box-shadow: -13px -9px 15px 0px #DCCA87;
  -webkit-box-shadow: -13px -9px 15px 0px #DCCA87;
  -moz-box-shadow: -13px -9px 15px 0px #DCCA87;
  max-height: 100%;
}

.scroll {
  user-select: none;
  cursor: pointer;
  opacity: 40%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 5%;

  &:hover {
    opacity: 100%;
  }

  p {
    color: #DCCA87;
  }
}

.btn {
  margin-top: 20px;
  text-align: center;
  padding: 8px 32px;
  width: 157px;
  height: 44px;
  color: #0C0B08;
  cursor: pointer;
  background: #DCCA87;
}

.tags {
  position: relative;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  gap: 40px;
  letter-spacing: 0.04em;
  transform: rotate(-90deg);
  color: white;
}